/* responsive jusqu'a 1024 */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
    font-family: 'Paris2024';
    src: url('typo/Paris2024-Variable.ttf') format('truetype');
    src: url('typo/Paris2024-Variable.ttf') format('woff');
    src: url('typo/Paris2024-Variable.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url('typo/source-sans-pro.light.ttf') format('truetype');
    src: url('typo/source-sans-pro.light.ttf') format('woff');
    src: url('typo/source-sans-pro.light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F1F1F1;
    font-size: 1.25rem;
    color: black;
    font-family: "Source Sans";
}

header {
    background-color:black;
    border-radius: 0% 0% 25% 0%;
    box-shadow: 0 0 10px 10px #00000048;
   
}

.bloc_accueil{
    
    background-image: linear-gradient( rgba(31, 23, 23, 0.274), rgba(255, 0, 0, 0) ),
     url("./img/La Seine Olympique.webp");
    background-size: cover;
 
    background-repeat: no-repeat;
    height: 110vh;
    border-radius: 0% 0% 25% 0%;
    background-position: center;
    background-attachment: fixed;
}



.logo{
    margin: auto;
    width: 8%;
    padding-top: 20px ;
}

 

.dataviz{
    font-family: "Paris2024";
    font-size: 11rem;
    color: #FFFFFF;
    text-align: left;
    padding-left: 50px;
    text-shadow: black 0px 0px 10px 15px;
    padding-top: 100px;
    line-height: 9rem;
  
}



.bloc_fact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 35vh;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* TITRE DE L'ACCUEIL */
@media (max-width: 1274px){
    .dataviz{
        font-size: 8.5rem;
    }
}

@media (max-width: 1189px){
    .dataviz{
        font-size: 8rem;
    }
}

@media (max-width: 1107px){
    .dataviz{
        font-size: 7.5rem;
    }
}


#timer {
    margin: auto;
    width: 700px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.068);
    height: 80px;
    margin-top: 30px ;
    display: flex;
    font-family: 'Paris2024';
    font-size: 3rem;
    justify-content: space-around;
    padding: 20px 20px;
    line-height: 1rem;
    align-items: center;
}

#timer p {
    font-size: 1.3rem ;
}

#timer span {
    font-size: 1rem;
    text-align: center;
}

#section-counter {
    height: 800px;
    font-family: "Paris2024";
    display: flex;
    border-radius: 0%  30%  0% 0%;
    overflow: hidden;
    justify-content:space-between;
    position: relative;
    margin: 50px 0;
    box-shadow: 15px 0 10px 10px #92929248;
}

.medals-counter {
    display: flex;
    justify-content: space-around;
    font-family: "Paris2024";

}

#medal-img {
    width: 40%;
    background-image: url("./img/med.jpg");
    background-size: cover;
    float: right;
 
}

#section-counter h2 {
    font-size: 9rem;
    line-height: 7rem;
    position: absolute;
    top: 60px;
    left: 140px;
    background: -webkit-linear-gradient(left, #423824,#d7c378);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

#section-counter p{
    position: relative;
    top: 310px;
    left: 200px;
    font-size: 1.3rem;
    color: #423824;
}

.box-medal {
    width: 230px;
 
    font-size: 2rem;
    font-family: "Source Sans";
    font-weight: 700;
    color: #423824;
    text-align: center;
    position: relative;
    top: 450px;
    left: 50px;
  
}

.box-medal:nth-of-type(2) span{
    color: rgb(165, 134, 49);
}

.box-medal:nth-of-type(3) span{
    color: rgb(126, 126, 126);
}

.box-medal:nth-of-type(4) span{
    color: rgb(121, 68, 55);
     
}

.box-medal:nth-of-type(4){
   
    margin-right: 100px;
}


.box-medal:not(.total) {
padding-top: 30px;
 }

#section-counter span {
    font-size: 4rem;
    font-family: "Paris2024";
}

.total {
    font-size: 4rem;
    margin-right: 60px;
    
}

#section1-wrapp {
    position: relative;
    width: 100%;
    box-shadow: 15px 0 10px 10px #92929248;
    border-radius: 0 0 25% 0;
    overflow: hidden;
    font-family: "paris2024";
    border: green solid;

}


#section1-wrapp h2 {
    font-size: 9rem;
    margin: 50px 0 50px 100px;
    line-height: 8rem;
    background: -webkit-linear-gradient(left, #423824,#d7c378);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Paris2024";
    
     
}

#section1-wrapp p{
    position: relative;
    top: 310px;
    left: 200px;
    font-size: 1.3rem;
    color: #423824;
}

#section1 {

    min-height: 700px;
    width: 70%;
    margin-bottom: 50px;
}


#bar-around {
    display: flex;
    
    
}

#selected-year {
    font-size: 10rem;
    position: relative;
    top: 350px;
}

 

#bar-around span {
    font-size: 2rem;
    float: right;
 
}

#years span {
    position: relative;
    top: 380px;

}

 
 
input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 400px;
    max-width: 100%;
   
    transition: box-shadow 1s ease-in-out;
   margin: 30px;
   margin-left: 100px;
   overflow: hidden;
   
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {
            
            height: 20px;
            -webkit-appearance: none;
            background-color: #ccc7c73d;
        }
        &::-webkit-slider-runnable-track {
            height: 20px;
            -webkit-appearance: none;
            color: #8f137e;
            margin-top: -3px;
            transition: box-shadow 0.2s ease-in-out;
        }

        &::-webkit-slider-runnable-track {
          overflow: hidden;
        }
        &::-webkit-slider-thumb {
            width: 30px;
            -webkit-appearance: none;
            height: 20px;
            cursor: ew-resize;
            background: #c78989;
            box-shadow: -440px 0 0 420px #91833100, inset 0 0 0 40px #7f0b8f;
            border-radius: 40%;
            transition: box-shadow 0.4s ease-in-out;
            position: relative;
            top: 1px;
            cursor: grab;
        }
        &:active::-webkit-slider-thumb {
            background: #fff;
            box-shadow: -440px 0 0 420px #df97e5, inset 0 0 0 3px #ce95c9;
            cursor: grabbing;
          
        } }
    
    }
