/* responsive jusqu'a 1024 */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Paris2024';
    src: url('typo/Paris2024-Variable.ttf') format('truetype');
    src: url('typo/Paris2024-Variable.ttf') format('woff');
    src: url('typo/Paris2024-Variable.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url('typo/source-sans-pro.light.ttf') format('truetype');
    src: url('typo/source-sans-pro.light.ttf') format('woff');
    src: url('typo/source-sans-pro.light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F1F1F1;
    font-size: 1.25rem;
    color: black;
    font-family: "Source Sans";
}

header {
    background-color: black;
    border-radius: 0% 0% 25% 0%;
    box-shadow: 3px 0 10px 5px rgba(0, 0, 0, 0.411);

}

.bloc_accueil {

    background-image: linear-gradient(rgba(31, 23, 23, 0.274), rgba(255, 0, 0, 0)),
        url("./img/La Seine Olympique.webp");
    background-size: cover;

    background-repeat: no-repeat;
    height: 110vh;
    border-radius: 0% 0% 25% 0%;
    background-position: center;
    background-attachment: fixed;
}



.logo {
    margin: auto;
    width: 8%;
    padding-top: 20px;
}



.dataviz {
   
    font-family: "Paris2024";
    font-size: 12rem;
    color: #FFFFFF;
    text-align: left;
    padding-left: 50px;
    text-shadow: black 0px 0px 10px 15px;
    margin-top: 150px;
    line-height: 9rem;
    margin-left: 100px;

}

 
.bloc_fact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 35vh;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* TITRE DE L'ACCUEIL */
@media (max-width: 1274px) {
    .dataviz {
        font-size: 8.5rem;
    }
}

@media (max-width: 1189px) {
    .dataviz {
        font-size: 8rem;
    }
}

@media (max-width: 1107px) {
    .dataviz {
        font-size: 7.5rem;
    }
}


#timer {
    margin: auto;
    width: 700px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.068);
    height: 80px;
    margin-top: 30px;
    display: flex;
    font-family: 'Paris2024';
    font-size: 3rem;
    justify-content: space-around;
    padding: 20px 20px;
    line-height: 1rem;
    align-items: center;
}

#timer p {
    font-size: 1.3rem;
}

#timer span {
    font-size: 1rem;
    text-align: center;
}



#explication {
     
    font-family: "Paris2024";
    padding: 100px 120px;
    margin: 30px auto;
    width: 100%;
    box-shadow: 15px 0 10px 5px #9292921f;
    background-color: white;
    display: flex;
    justify-content: left;
    gap: 3rem;
 
   
}

.logo2 {
    width: 170px;
    margin-right: 150px;
}
.line {
    border-left: solid black 1px;
}
.exp {
    width: 300px;
}

#section-counter {
    min-height: 800px;
    font-family: "Paris2024";
    display: flex;
    border-radius: 0% 30% 0% 0%;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    margin: 50px 0;
    box-shadow: 15px 0 10px 5px #92929248;
    background-color: white;
    padding-right: 0 !important;
}

.medals-counter {
    display: flex;
    justify-content: space-around;
    font-family: "Paris2024";

}

#medal-img {
    width: 100%;
    background-image: url("./img/med.jpg");
    background-size: cover;
    float: right;
    position: relative;
}

#section-counter h2 {
    font-size: 9rem;
    line-height: 7rem;
    margin: 50px 0px 20px 100px;
    background: -webkit-linear-gradient(left, #423824, #d7c378);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    width: 120%;
    z-index: 2;

}

@media (max-width: 1500px) {
    #section-counter h2 {
        display: block;
        width: 60%;
       
        }
}

#section-counter p {
    font-size: 1.3rem;
    color: #423824;
    margin-left: 100px;
    margin-top: 30px;

}

.box-medal {
    width: 230px;

    font-size: 2rem;
    font-family: "Source Sans";
    font-weight: 700;
    color: #423824;
    text-align: center;
    margin: 150px 20px 50px 50px;
     

}

.box-medal:nth-of-type(2) span {
    color: rgb(165, 134, 49);
}

.box-medal:nth-of-type(3) span {
    color: rgb(126, 126, 126);
}

.box-medal:nth-of-type(4) span {
    color: rgb(121, 68, 55);

}

.box-medal:nth-of-type(4) {

    margin-right: 100px;
}


.box-medal:not(.total) {
    padding-top: 30px;
}

#section-counter span {
    font-size: 4rem;
    font-family: "Paris2024";
}

.total {
    font-size: 4rem;
    margin-right: 60px;

}

#section1-wrapp {
    position: relative;
    width: 100%;
    box-shadow: 15px 0 10px 5px #92929248;
    border-radius: 0 0 25% 0;
    overflow: hidden;
    font-family: "paris2024";
    background-color: white;


}


#section1-wrapp h2 {
    font-size: 9rem;
    margin: 50px 0 50px 100px;
    line-height: 8rem;
    background: -webkit-linear-gradient(left, #412442, #c96ec4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Paris2024";


}

#section1-wrapp p {
    position: relative;
    top: 310px;
    left: 200px;
    font-size: 1.3rem;
    color: #423824;
}

#section1 {

    min-height: 700px;
    width: 70%;
    margin-bottom: 50px;
}


#bar-around {
    display: flex;


}

#selected-year {
    font-size: 10rem;
    position: relative;
    top: 350px;
}



#bar-around span {
    font-size: 2rem;
    float: right;

}

#years span {
    position: relative;
    top: 380px; 
}



input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 600px;

    transition: box-shadow 1s ease-in-out;
    margin: 30px;
    margin-left: 100px;
    overflow: hidden;

   @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {

            height: 20px;
            -webkit-appearance: none;
            background-color: #ccc7c73d;
        }

        &::-webkit-slider-runnable-track {
            height: 20px;
            -webkit-appearance: none;
            color: #8f137e;
            margin-top: -3px;
            transition: box-shadow 0.2s ease-in-out;
        }

        &::-webkit-slider-runnable-track {
            overflow: hidden;
        }

        &::-webkit-slider-thumb {
            width: 30px;
            -webkit-appearance: none;
            height: 20px;
            cursor: ew-resize;
            background: #c78989;
            box-shadow: -440px 0 0 420px #91833100, inset 0 0 0 40px #7f0b8f;
            border-radius: 40%;
            transition: box-shadow 0.4s ease-in-out;
            position: relative;
            top: 1px;
            cursor: grab;
        }

        &:active::-webkit-slider-thumb {
            background: #fff;
            box-shadow: -440px 0 0 420px #df97e5, inset 0 0 0 3px #ce95c9;
            cursor: grabbing;

        }
    }

}

#section1-wrapp p {
    position: relative;
    top: -10px; 
    
}

/* section 3 */

#section3-wrapp{
    margin: 20px 0;
    width: 100%;
    box-shadow: 15px 0 10px 5px #92929248;
    border-radius:25% 0 0  0;
    padding-top: 120px;
    padding-left: 50px;
    overflow: hidden;
    font-family: "paris2024";
    background-color: white;
}

#section3-wrapp h2 {
font-size: 9rem;
margin: 50px 0 50px 100px;
line-height: 8rem;
background: -webkit-linear-gradient(right, #6f7eac, #2b1d5e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Paris2024";

}

 

select {
    width: 1000px;
    height: 70px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 20px 0 60px 100px;
    font-family: "Paris2024";
    font-size: 2rem;
   background-color: #f3f2f2;
transition: all ease 1s;
font-weight: 900;
}

select:hover {
    background-color: #99a9d863;
   
}

 select:focus {
    background-color: #f3f2f2;
    border: none;
    outline: none;
 }

#section3 {
    font-family: "Paris2024";
}

@media (max-width: 1240px) {
   section h2 {
        font-size: 7rem !important;
        line-height: 5.8rem !important;
       transition: all ease 1s;
        }
        #selected-year {
            font-size: 8.5rem !important;
        }
}
#host {
    
}

.info-wrapp {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px 50px 100px;
    gap: 100px;
}

#year-host {
  
   
    font-size: 1.6rem;
}

#host-country {
   
    
}



.sec3-correlation{
  max-width: 400px;
  font-size: 1rem;
  font-style: italic;
   margin: 0;
   padding: 0;
  
}

.fact p{
    
 font-size: 1rem;
 margin: 20px 20px;
 
    
  }

.info-wrapp div:first-child{
font-size: 1.3rem;
font-style: normal;
}


#section-hosttop {
    background-color: white;
    font-family: "Paris2024";
    border-radius: 0% 30%  0%  0%;
    overflow: hidden;
    margin-bottom: 50px 0;
    box-shadow: 15px 0 10px 5px #92929248;

}

#section-hosttop h2 {
    font-size: 9rem;
    line-height: 7rem;
    margin: 50px 0px 20px 100px;
    background: -webkit-linear-gradient(left, #6d494a, #bb4545);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#section-hosttop p {
    margin: 20px 100px;
    }
#chart {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
   
    margin: 50px auto;
}

.inscr .country {
    writing-mode: vertical-lr;
text-orientation: mixed;



}


.inscr {
    padding-top: 5%;
    position: relative;
}

.inscr .count {
position: absolute;
top: 2px;
font-size: 4rem;
left: 30%;
}

#section-champions  {
    background-color: white;
    font-family: "Paris2024";
    border-radius: 0%  0% 30% 0%;
    overflow: hidden;
    margin: 50px 0;
    box-shadow: 15px 0 10px 5px #92929248;
 

}

#section-champions h2 {
    font-size: 9rem;
    line-height: 7rem;
    margin: 50px 0px 20px 100px;
    background: -webkit-linear-gradient(left, #1f7970, #97e0d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#section-champions p 
 {
    margin-left: 100px;
    margin-top: 20px;
 
}

#top-athlets { 
    
               margin: 50px 100px;
               margin-left: 10vw;

       
}

#top-athlets a {
    text-decoration: none;
    color: rgb(41, 34, 34);
    
}

#top-athlets span {
    font-size: 1.8rem;
}



.sportsman { 
    border-radius:   30px;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 20px;
    /* background: linear-gradient(to right, #ffffff, #17f0c105); */
    margin-left: 80px;
    transition:  all ease 1s;
     
 
    
}

.circle-total {
    padding-left: 10%;
    opacity: 0;
    transition: all 1s ease;
}

.sportsman:hover .circle-total {
    opacity: 1;
}

.sportsman:hover {
    background: linear-gradient(to left, #bfe0de00, #4e776fb4);
    transition:  ease 1s;
}
#top-athlets li:nth-child(1) .sportsman{
    background: linear-gradient(to left, #967a3e00, #d6c16098); ;
    margin-left: 5px;
    color: black;
    color: #855e11;
    
}

#top-athlets li:nth-child(1):hover .sportsman{
    background: linear-gradient(to right, #967a3e, #d6c16098);
    transition: all ease-in 1s;
}

#top-athlets li:nth-child(2) .sportsman{
    background: linear-gradient(to left, #61616100, #b9b8b893); ;
    margin-left: 30px;
}


#top-athlets li:nth-child(2):hover .sportsman{
    background: linear-gradient(to right, #616161d5, #b9b8b893);
    transition: all ease-in 1s;
}

#top-athlets li:nth-child(3) .sportsman{
    background: linear-gradient(to left, #70331700, #a8592b94);
    margin-left: 55px;
}
#top-athlets li:nth-child(3):hover .sportsman{
    background: linear-gradient(to right, #703317b9, #a8592b94);
    margin-left: 55px;
}

#top-athlets li:nth-child(1) .sportsman span{
    font-size: 2.5rem;
 
}

#top-athlets li:nth-child(2) .sportsman span{
    font-size: 2.3rem;
 
}
#top-athlets li:nth-child(3) .sportsman span{
    font-size: 2rem;
 
}
 
.circle-gold {
    background-color: #e4c355;
    
     color: rgb(59, 49, 31);
  
}
.circle-silver {
    background-color: #c7c7c5;
    color: rgb(61, 61, 61);

    
 
  
}
  
    
.circle-bronze {
    background-color: #d88c68;
    color: rgb(59, 49, 31);
   
  
}

.circle-bronze, .circle-gold, .circle-silver {
    border-radius: 50%;
   display: inline-block;
 width: 40px;
 height: 40px;

   text-align: center;
   padding-top: 5px;
     font-size: 1.4rem !important;
     
}

footer {
    font-family: "Paris2024";
    border-radius: 0% 30% 0% 0%;
    overflow: hidden;
    box-shadow: 15px 0 10px 5px #92929248;
    background-color: white;
    padding-left: 100px;
    padding-right: 150px;
}

footer h1{
    margin: 35px;
}

footer p {
    margin-left: 100px;
    margin-bottom: 50px;
}

footer span {
    font-size: 0.9rem;
    margin: 30px auto;
    display: block;
    width: 100%;
    text-align: center;
  
}

#winner-countries{
background-color: white;
margin-bottom: 30px;
box-shadow: 15px 0 10px 5px #92929248;
font-family: "paris2024";
}
#countries-top-medals {
     
    background-color: white;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: end;
    gap: 5px;
}

#countries-top-medals .countrybarre:nth-child(1){
    order: 1;
    border: red solid;

}

#countries-top-medals .countrybarre:nth-child(2){
    order: 0;
 
}

#countries-top-medals .countrybarre:nth-child(3){
    order: 2;
 }

#countries-top-medals .countrybarre:nth-child(4){
    order: 2;
   
}
#countries-top-medals .countrybarre:nth-child(5){
    order: 2;
   
}
.countrybarre {
    background-color: #eaf7f0;
}

.wrapp-podium {
    display: flex;
    flex-wrap: wrap-reverse;
}

.explication-points {
max-width: 300px;
}

.place {
    font-size: 5rem;
    position: relative;
    display: block;
    text-align: center;
    font-weight: 900; 
}

#countries-top-medals .countrybarre:nth-child(4) .place  { 
    font-size: 3rem;
 }
 #countries-top-medals .countrybarre:nth-child(5) .place  { 
    font-size: 2rem;
 }